#name{
    color: blue;
 font-family: initial;
 font-size: 20px;
 margin-left: 100px;
}
#two{
    color: rgb(4, 50, 52);
    font-family: initial;
    margin-left:100px;
}
#three{
    color: rgb(4, 56, 57);
    font-family: initial;
}
#four{
    color: rgb(4, 56, 57);
    font-family: initial;
}
#five{
    color: rgb(4, 56, 57);
    font-family: initial;
}
img{
    float: right;
    height: 700px;
    margin-right: 100px;
}
#one{
margin-left: 120px;
}
